{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subscribe/main.css' %}">
    <title>Document</title>
</head>
<body>
    
        
        <h2><img style="height: 22px; width:50px;text-align: left;" src="{% static 'subscribe/email-icon.jpg' %}" alt="emailicon">Subscribe Form</h2>
    
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        
          <input type="submit" value="Submit"> <br>
        <button onclick="popup()">Click  Me</button>
           
    </form>
    <script src="{% static 'subscribe/main.js'  %}">
        
    </script>
</body>
</html>