<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h2 style="text-align: center;">Subscribe Form</h2>
    <span style="color: red;">
        {% if error_message %}
        <h3>{{ error_message}}</h3>
        {%endif%}
    </span>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        
          <input type="submit" value="Submit">
        </div>
           
    </form>
</body>
</html>